
<h1>Edit Phone</h1>
<h2>{{phoneId}}</h2>
<div class="phone-image">
  <img ng-src="{{image}}">
</div>
<p>Edit the details of this phone:</p>
<table style="width:50%">
  <tr>
    <td>Name:</td>
    <td><input ng-model="name"></td>
  </tr>
  <tr>
    <td>Snippet:</td>
    <td><input ng-model="snippet"></td>
  </tr>
  <tr>
    <td>Age:</td>
    <td><input ng-model="age"></td>
  </tr>
</table>
<button ng-click="editPhone({name: name, snippet: snippet, age: age})">Save</button>
<input type="button" onclick="location.href='#/phones';" value="Back" />
